.outerTab {
  display: flex;
  position: fixed;
  bottom: 2%;
  left: 40%;
  margin-bottom: 20px;
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.6475840336134453) 0%,
    rgba(170, 39, 129, 1) 25%,
    rgba(237, 55, 166, 0.7008053221288515) 81%,
    rgba(158, 0, 255, 0.7596288515406162) 97%
  );
  z-index: 999;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 35px;
}
.innerTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  background-color: azure;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .outerTab {
    display: flex;
    position: fixed;
    bottom: 2%;
    left: 5%;
    margin-bottom: 20px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.6475840336134453) 0%,
      rgba(170, 39, 129, 1) 25%,
      rgba(237, 55, 166, 0.7008053221288515) 81%,
      rgba(158, 0, 255, 0.7596288515406162) 97%
    );
    border-radius: 35px;
    z-index: 999;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .innerTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background-color: azure;
    padding: 10px;
  }
}
